@media only screen and (max-width: 1200px) {
	.cd-pricing-header h2 {
		font-size: 1.7em;
	}

	.cd-currency {
		font-size: 1.9em;
	}

	.cd-value {
		font-size: 1.9em;
	}

	.cd-duration {
		font-size: 1.7em;
	}

	.cd-pricing-features li {
		font-size: 1.2em;
	}
}

@media only screen and (max-width: 1024px) {
	.nav-links {
		width: 60%;
	}

	.home {
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/central-grande.jpg');
		background-position: center;
		background-attachment: fixed;
		background-size: 100% 100%;
	}

	#features {
		height: 7.5vh;
	}

	#team {
		height: 7.5vh;
	}

	#pricing {
		height: 2vh;
	}

	.pricing {
		height: 45vh;
	}

	.team {
		height: 80vh;
	}

	.cd-pricing-header h2 {
		font-size: 1.2em;
	}

	.cd-currency {
		font-size: 1.4em;
	}

	.cd-value {
		font-size: 1.4em;
	}

	.cd-duration {
		font-size: 1.2em;
	}

	.cd-pricing-features li {
		font-size: 0.7em;
	}
}

@media only screen and (max-width: 768px){
	body {
		overflow-x: hidden;
	}

	.nav-links {
		position: absolute;
		right: 0;
		height: 92vh;
		top: 8vh;
		background-color: #141418;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 45%;
		transform: translateX(100%);
		z-index:2;
	}

	.nav-links li {
		opacity: 0;
	}

	.burguer {
		display: block;
	}

	.home {
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/central-medio.jpg');
		background-position: center;
		background-attachment: fixed;
		background-size: 100% 100%;
	}

	#team {
		height: 7.5vh;
	}

	#pricing {
		height: 0;
	}

	.pricing {
		height: 50vh;
	}

	.team {
		height: 100vh;
	}

	.cd-pricing-header h2 {
		font-size: 1.0em;
	}

	.cd-currency {
		font-size: 1.2em;
	}

	.cd-value {
		font-size: 1.2em;
	}

	.cd-duration {
		font-size: 1.0em;
	}

	.cd-pricing-features li {
		font-size: 0.5em;
	}
}

@media only screen and (max-width: 480px){
	.home {
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/central-pequeno.jpg');
		background-position: center;
		background-attachment: fixed;
		background-size: 100% 100%;
	}

	#team {
		height: 7.5vh;
	}

	#pricing {
		height: 0;
	}

	.pricing {
		height: 94vh;
	}

	.team {
		height: 130vh;
	}
}

@media only screen and (max-width: 360px){
	#team {
		height: 7.5vh;
	}

	#pricing {
		height: 0;
	}

	.pricing {
		height: 85vh;
	}

	.team {
		height: 120vh;
	}
}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}