* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* cores */
.dark-cian {
	color: #009688;
}

.yellow {
	color: #ffc428;
}

/* nav */
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #141418;
	position: fixed;
	width: 100%;
	z-index: 2;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 40%;
}

.nav-links {
	list-style: none;
}

.nav-links a {
	color: rgb(226, 266, 266);
	text-decoration: none;
	letter-spacing: 3px;
	font-size: 14px;
	outline: none;
}

.nav-links a:hover {
	color: #DCDCDC;
}

/* Burguer */
.burguer {
	display: none;
	cursor: pointer;
}

.burguer div {
	width: 25px;
	height: 3px;
	background-color: rgb(226, 266, 266);
	margin: 5px;
	transition: all 0.3s ease;
}

/* animação logo */
.logo-animate {
  font-family: menlo, monospace;
  font-weight: 600;
  font-size: 0.6em;
  color: #eeeeee;
}

.logo-animate:before {
	content: '➜ ~';
	color: #009688;
}

.logo-animate::first-letter {
	color: #009688;
}

.logo-animate:after {
	content: '▉';
	color: #009688;
	-webkit-animation: blink-animation 1s steps(1, start) infinite;
    animation: blink-animation 1s steps(1, start) infinite;
}

@-webkit-keyframes blink-animation {
  from, to { opacity: 0 }
  50% { opacity: 1 }
}

@keyframes blink-animation {
  from, to { opacity: 0 }
  50% { opacity: 1 }
}

/* Home */

.home {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/central-extra.jpg');
	background-position: center;
	background-attachment: fixed;
	background-size: 100% 100%;
}

.home .row {
	text-align: center;
	display: flex;
	justify-content: center;
}

.home-text {
	color: #fff;
	text-align: center;
}

.text-shadow {
	text-shadow: 1px 2px black;
}

#permissao-text {
	font-size: 1.2em;
	text-shadow: 1px 2px black;
}

.home-text hr {
	border: 1px solid white;
	border-radius: 5px;
	width: 80%;
	margin: 0 auto;
}

.home-text .btn {
	border-radius: 60px;
	background-color: #009688;
}

/* Features */
.features {
	max-width: 1500px;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	padding-top: 5%;
}

.features-itens {
	margin: 2% 1%;
	flex: 3 2 330px
}

.features-itens img {
	width: 45%;
	height: 45%;
	border-radius: 5px;
	margin-bottom: 2%;
}

.features-itens p {
	width: 80%;
	margin: 0 auto;
}

/* Team */
.team {
	max-width: 1500px;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	padding-top: 7%;
}

.team img {
	width: 30%;
	height: 35%;
}

.team div {
	width: 600px;
	padding: 3px;
}

/* pricing */
.pricing {
	height: auto;
}

.cd-value {
	font-size: 3em;
}

.cd-pricing-wrapper {
	z-index: -1;
}

/* contact */
#contact-btn-div {
	text-align: center;
	margin-bottom: 7%;
}

.contact a {
	background-color: #009688;
	border-radius: 50%;
	cursor: none;
}

.contact a:hover {
	background-color: #009688;
}

.contact a:active {
	background-color: #009688;
}

.contact a:focus {
	background-color: #009688;
}

.contact a i {
	color: #eeeeee;
	margin: 0 auto;
}

.contact form {
	margin: 0 auto;
	width: 80%;
}

#contact-submit {
	background-color: #009688;
}

#contact-submit-div {
	text-align: center;
}

/* Footer */
footer {
	margin-top: 2%;
	max-width: 100%;
	height: 7vh;
	background-color: #303030;
	color: #eeeeee;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer span {
	width: 80%;
	text-align: center;
}